/* -- Universal style -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--global-background);
    text-decoration: none;
}

:root {
    --primary-color: #E95A08;
    --secondary-color: #000;
    --heading-color: #2d3e50;
    --text-color: #8987A1;
    --global-background: #F5F8FF;
    --glocal-white: #fff;
    --primary-font: "Noto Serif", serif;
    --text-font: "Inter", sans-serif;

    --base-font: 1rem;

    --border-test: 1px solid red;
}

.container {
    width: 80%;
    margin: 0 auto;
    
}

.primary-btn {
    font-size: var(--base-font);
    background-color: var(--primary-color);
    color: var(--glocal-white);
    padding: 14px 29px;
    font-family: var(--text-font);
    text-transform: capitalize;
    display: inline-block;
    margin-top: 34px;
    box-shadow: 10px 19px 49px #ddd;
    border-radius: 2px;
    transition: 0.4s;
}

.primary-btn:hover {
    background-color: var(--secondary-color);
}

.sec-heading {
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 44px;
    font-weight: 700;
    text-align: center;
}

.section-txt {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 19px;
    font-weight: 400;
    margin: 10px 0;
}

/* -- Universal style end -- */



/* -- Navbar area style -- */
#nav-wrapper {
    border-bottom: 1px solid #ddd;
    box-shadow: 2px 4px 49px -10px #ddd;
    background-color: var(--global-background);
    position: sticky;
    padding: 10px 0;
    top: 0;
    z-index: 999;
}


#navbar {
    display: flex;
    justify-content: space-between;
}


.nav-logo img {
    width: 135px;
    height: auto;
}

.nav-menu {
    display: flex;
    padding: 22px 0;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
    gap: 49px;
}

.nav-menu ul li a {
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    font-size: var(--base-font);
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.4s;
}

.nav-menu ul li a:hover {
    color: var(--secondary-color);
    font-weight: 700;
}

.nav-menu .active {
    color: #000; 
    font-weight: 700;
}

.cart li {
    font-size: var(--base-font);
    font-weight: 600;
    color: var(--secondary-color);
}

.cart li .fa-cart-arrow-down {
    color: var(--secondary-color);
}

/* -- Navbar area style end -- */




/* -- header are style -- */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 196px 0 0;
}

.header-txt {
    width: 50%;
}

.header-txt h1 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    font-size: 49px;
    font-weight: 700;
    line-height: 3.6rem;
}

.header-txt .section-txt {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 19px;
    font-weight: 400;
    margin: 10px 0;
}

.header-img {
    width: 50%;
}

.header-img img {
    width: 100%;
    height: auto;
}

/* -- header are style end -- */




/* -- plants area style -- */

#plants {
    padding: 96px 0;
}

.plants-txt,
.latest-deal-txt {
    width: 74%;
    margin: 0 auto 56px;
}

.plants-txt .section-txt,
.latest-deal-txt .section-txt {
    text-align: center;
}


.plants-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 19px;
}

.plants-card {
    padding: 10px;
    box-shadow: 2px 6px 49px #ddd;
    border-radius: 6px;
}

.plants-card img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.product-info .product-name {
    font-family: var(--base-font);
    color: var(--secondary-color);
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

.product-info .price {
    font-family: var(--base-font);
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
}

.product-info .cart-btn {
    font-size: var(--base-font);
    background-color: var(--primary-color);
    color: var(--glocal-white);
    padding: 14px 29px;
    font-family: var(--text-font);
    text-transform: capitalize;
    display: block;
    box-shadow: 10px 19px 49px #ddd;
    border-radius: 2px;
    transition: 0.4s;
    text-align: center;
    margin-top: 19px;
    cursor: pointer;
}

.product-info .cart-btn:hover {
    background-color: var(--secondary-color);
}

/* -- plants area style end -- */




/* -- latest deal area -- */

#latest-deal {
    padding-bottom: 96px;
}

.latest-deal-card-contianer {
    display: flex;
    gap: 1.64rem;
}

.two-col-card {
    width: 30%;
    height: 496px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.latest-deal-card {
    height: 230px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../img/deal-bloom.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 16px;
    z-index: 1;
}

.latest-deal-card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    opacity: 0.5;
    border-radius: 16px;
    z-index: -1;
}

.latest-deal-card:last-child {
    height: 230px;
    border-radius: 10px;
    position: relative;
    background-image: url(../img/deal-ana.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 16px;
    z-index: 1;
}

.latest-deal-card h2 {
    color: #fff;
    font-size: 20px;
    font-family: var(--primary-font);
    font-weight: 600;
}

.latest-deal-card-contianer .shop-link {
    color: var(--glocal-white);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
    font-family: var(--base-font);
}

.one-col-card {
    width: 70%;
    height: 496px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../img/deal-zabo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 16px;
    z-index: 1;
}

.one-col-card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  opacity: 0.5;
  border-radius: 16px;
  z-index: -1;
}


.one-col-card h2 {
    color: var(--glocal-white);
    font-size: 34px;
    font-family: var(--primary-font);
    font-weight: 600;
}


.one-col-card .shop-link {
    color: var(--glocal-white);
    font-size: 1.49rem;
    font-weight: 500;
    text-decoration: underline;
    font-family: var(--base-font);
}

/* -- latest deal area end -- */




/* -- plants lover area -- */

#plants-lover {
    padding: 74px 0;
    display: flex;
    align-items: center;
}

.plants-img-area {
    width: 50%;
    position: relative;
}

.plants-img-area img:first-child {
    border-radius: 10px;
    width: 76%;
    height: auto;
}

.plants-img-area img:last-child {
    width: 286px;
    height: 286px;
    position: absolute;
    top: -132px;
    right: 2px;
}

.plants-txt {
    width: 50%;
}

.plants-txt h2 {
    color: var(--secondary-color);
    font-size: 44px;
    font-family: var(--primary-font);
    font-weight: 700;
    line-height: 3rem;
}

.plants-items ul {
    list-style-type: disc;
}

.plants-items ul li {
    margin: 16px 0;
    font-family: var(--base-font);
    color: var(--text-color);
    font-size: 21px;
    margin-left: 29px;
    margin-right: 39px;
    margin-top: 39px;
}

/* -- plants lover area end -- */



/* -- newsletter area -- */

.newsletter-wrapper {
    padding: 196px 0;
    background-image: url(../img/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


#newsletter-container {
    width: 60%;
    margin: 0 auto;
}

.newsletter form {
    display: flex;
}

.newsletter-txt h2 {
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: "Noto Serif";
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: 1.43rem;
}


input[type="email"]{
    padding: 14px 16px;
    background: #fff;
    border: none;
    outline: none;
    width: 100%;
}

input[type="submit"]{
    font-size: var(--base-font);
    background-color: var(--primary-color);
    color: var(--glocal-white);
    padding: 14px 1.76rem;
    font-family: var(--text-font);
    text-transform: capitalize;
    display: inline-block;
    box-shadow: 10px 19px 49px #ddd;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    cursor: pointer;
    transition: 0.4s;
}

input[type="submit"]:hover{
    background-color: var(--secondary-color);
}

input::placeholder {
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}


/* -- newsletter area end -- */


















